---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="center">
		<main>
			<h1>
				<span class="text-gradient">Spencer Mendelsohn</span>
			</h1>
			<h2 class="text-gradient-links">Software Engineer</h2>
		</main>
		<h1>
			<nav>
				<a class="text-gradient" href="/">Home</a>
				<a class="text-gradient" href="./projects">Projects</a>
			</nav>
		</h1>
	</body>

	<style is:global>
		:root {
			--accent: 235, 125, 52;
			--accent-light: 105, 101, 99;
			--accent-dark: 89, 89, 89;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				rgb(0, 0, 0) 60%
			);
			--accent-link: 89, 89, 89;
			--accent-light-link: 255, 237, 99;
			--accent-dark-link: 89, 89, 89;
			--accent-gradient-link: linear-gradient(
				45deg,
				rgb(var(--accent-link)),
				rgb(var(--accent-light-link)) 30%,
				rgb(0, 0, 0) 60%
			);
		}
		main {
			color: white;
			text-align: center;
		}
		h1 {
			font-weight: 700;
			line-height: 1;
			text-align: center;
		}
		h2 {
			font-weight: 700;
			line-height: 1;
			text-align: center;
		}
		html {
			font-family: system-ui, sans-serif;
			background: #13151a;
			background-size: 224px;
		}
		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;

			padding: 14px 16px;
			text-decoration: none;
		}
		.text-gradient-links {
			background-image: var(--accent-gradient-link);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			padding: 14px 16px;
			text-decoration: none;
		}
		.center {
			position: fixed;
			text-justify: auto;
			vertical-align: middle;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
</html>
