---
import pageNames from "../pages/data/pageHeaders.json";
interface Props {
	title: string;
}

type PagesHeadersType = {
	name: string;
	link?: string;
	target?: string;
}[];

const { title } = Astro.props;
const listOfHeaders: PagesHeadersType = pageNames.pageHeaders;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<span>
		<header>
			<nav>
				<a class="text-gradient-links" href="./">Home</a>
				{
					listOfHeaders.map(({ name, link, target }) => (
						<a
							class="text-gradient-links"
							href={link || "./".concat(name).toLocaleLowerCase()}
							target={target || "_self"}
						>
							{name}
						</a>
					))
				}
			</nav>
		</header>
	</span>

	<body>
		<slot />
	</body>

	<style is:global>
		:root {
			--accent: 235, 125, 52;
			--accent-light: 105, 101, 99;
			--accent-dark: 89, 89, 89;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				rgb(0, 0, 0) 60%
			);
			--accent-link: 89, 89, 89;
			--accent-light-link: 255, 237, 99;
			--accent-dark-link: 89, 89, 89;
			--accent-gradient-link: linear-gradient(
				45deg,
				rgb(var(--accent-link)),
				rgb(var(--accent-light-link)) 30%,
				rgb(0, 0, 0) 60%
			);
		}
		html {
			font-family: system-ui, sans-serif;
			background: #13151a;
			background-size: 224px;
		}
		main {
			margin: auto;
			width: 800px;
			max-width: calc(100% - 2rem);
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}
		code {
			font-family:
				Menlo,
				Monaco,
				Lucida Console,
				Liberation Mono,
				DejaVu Sans Mono,
				Bitstream Vera Sans Mono,
				Courier New,
				monospace;
		}
		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
			display: inline-block;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		.text-gradient-links {
			background-image: var(--accent-gradient-link);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			padding: 0px 16px;
			line-height: 40px;
			text-decoration: none;
		}
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 2rem;
			padding: 0;
		}
	</style>


</html>
